
.chat i{
    font-size: 30px;
}
.chat-box{
    height: 700px;
}
.me{
  
    background-color: burlywood;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    max-width: 50%;
    margin-left: 200px;
    
  
   
}
.u{
   
    background-color:#aaa;
    padding: 5px;
    border-radius: 5px;
    max-width: 50%;
    
   
}
.chat-input{
    height: 30%;
    width: 100%;
}
.chat-msg{
    height: 70%;
}
.chat-input input{
    padding: 5px;
    border: solid 1px #aaa;
    border-radius: 2px;
    box-shadow: 0 0 3px cornflowerblue;
}
.chat {
    
    width:400px;
    max-width: 400px;
    position: fixed;
    z-index: 10;
    top:0px;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    text-align: center;
    transform: translateX(100%);
    padding: 5px;
    
    
    
  }

.chat--enter-active{
    transform: translateX(0%);
   transition: 0.5s;

}
.chat--enter-done{
    transform: translateX(0%);
   
    
   

}
.chat--exit-active{
    transform: translateX(0%);
    transition: 0s;

      
 
 }
 .chat--exit-done{
    transform: translateX(100%);
    transition: 0.5s;
     
 
 }
