
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');



@media screen and (max-width:350px){
    .checkout .container{
        padding: 0;
    }
}
@media screen and (min-width:420px){
    .checkout-cartitems .item-title {
       font-size: 14px;
    }
    .checkout-cartitems .item-price {
        font-size: 14px;
     }
    .checkout-cartitems .item-quantity-label{
        font-size: 14px;
     }
}
@media screen and (min-width:520px){
    .checkout-cartitems .item-title {
       font-size: 15px;
    }
    .checkout-cartitems .item-price {
        font-size: 15px;
     }
    .checkout-cartitems .item-quantity-label{
        font-size: 15px;
     }
}


@media screen and (max-width:768px){
    .checkout-user-info-content > div {
        flex-direction: column-reverse;
    }
    .checkout-delivery-content > div {
        flex-direction: column-reverse;
    }
    .checkout-payment-content > div {
        flex-direction: column-reverse;
    }
    .checkout-cartitems .accordion{
        background-color: rgb(216, 189, 153,0.5);
    }
   
}
@media screen and (min-width:768px){
    .checkout-cartitems > div{
        padding-left: 15px;
    }
}

@media screen and (max-width:992px){
    .item-title{
        font-size: 12px;
    }
    .item-price{
        font-size: 12px;
    }
    .item-quantity-label {
        font-size: 12px;
    }
}
@media screen and  (min-width:992px) and  (max-width:1200px){
    .item-title{
        font-size: 14px;
    }
    .item-price{
        font-size: 14px;
    }

  
}
@media screen and  (min-width:1200px) {
    .item-title{
        font-size: 14px;
    }
    .item-price{
        font-size: 14px;
    }
    .checkout-user-info-content {
        padding-left: 100px;
        padding-right: 100px;
    }
    .checkout-delivery-content   {
        padding-left: 100px;
        padding-right: 100px;
    }
    .checkout-payment-content{
        padding-left: 100px;
        padding-right: 100px;
    }
}


.checkout{
    background-color: #f5f5f5;
}
.checkout .spinner{
    background-color: white;
    
}
.checkout .loader {
    width: 250px;
    height:250px;
    
} 
.checkout .title{
    font-size: 15px;
    font-family: 'Shippori Mincho', serif;
    font-weight: 600;
 }

.checkout-user-info-content > div {
    border-radius: 5px;
}

.checkout-user-info-content form  {
    box-shadow:  0 0 10px #aaa;
    padding-bottom: 20px;
    padding-top: 20px;
}
.checkout-user-info-content .form > div {
    box-shadow:  0 0 10px #aaa;
}
.checkout-user-info-content form  label{
    font-size: 14px;
    font-family: 'Shippori Mincho', serif;
 }
 .checkout-user-info-content form .adresse-text > div  {
    min-height:100px ;
 }
 .checkout-user-info-content form .btn {
     color: white;
     font-weight: 500;
     background-color: rgb(253, 158, 34);
     box-shadow: 0 0 5px black;
 }
 .checkout-delivery-content  .btn:hover {
    background-color: rgb(247, 140, 0);
  
}


/* cartitems*/
.checkout-cartitems >div>div{
    box-shadow:  0 0 10px #aaa;
}
.checkout-cartitems .accordion-title {
    position: relative;
    top:5px;
}
.checkout-cartitems> div > div{
    background-color: white;
}
.checkout-cartitems .first-title {
    font-size: 18px;
    font-family: 'Shippori Mincho', serif;
    font-weight: 600;
}
.checkout-cartitems img {
    width: 100%;
}
.checkout-cartitems .cart-subtitle {
    font-size: 14px;
}


/* delivery */ 
.checkout-delivery-content .phases >div{
    background-color: white;
    box-shadow:  0 0 10px #aaa;
}

.checkout-delivery-content .edit{
    font-size: 17px;
    font-weight: 600;
    font-family: 'Shippori Mincho', serif;
    position: relative;
    top: 8px;
}
.checkout-delivery-content .question{
    font-size: 17px;
    font-weight: 600;
    font-family: 'Shippori Mincho', serif;
    position: relative;
    top: 5px;
}
.checkout-delivery-content .form p {
    font-family: 'Shippori Mincho', serif;
    font-size: 14px;
    
}
.checkout-delivery-content label {
    font-size: 15px;
}
.checkout-delivery-content .sous-label {
    position: relative;
    bottom: 15px;
}
.checkout-delivery-content .text-error{
    font-size: 13px;
}
.checkout-delivery-content .shipping-detail {
    font-family: 'Shippori Mincho', serif;
    
}
.checkout-delivery-content .total-description {
    font-size: 17px;
}
.checkout-delivery-content .total-description > div > div{
    margin-bottom: 10px;
}
.checkout-delivery-content  .btn {
    color: white;
    font-weight: 500;
    background-color: rgb(253, 158, 34);
    box-shadow: 0 0 5px black;
}
.checkout-delivery-content form .btn:hover {
   background-color: rgb(247, 140, 0);
 
}

/**********/
.checkout-payment-content .phases >div{
    background-color: white;
    box-shadow:  0 0 10px #aaa;
}

.checkout-payment-content .edit{
    font-size: 17px;
    font-weight: 600;
    font-family: 'Shippori Mincho', serif;
    position: relative;
    top: 8px;
}
.checkout-payment-content .question{
    font-size: 17px;
    font-weight: 600;
    font-family: 'Shippori Mincho', serif;
    position: relative;
    top: 5px;
}
.checkout-payment-content .form p {
    font-family: 'Shippori Mincho', serif;
    font-size: 14px;
    
}
.checkout-payment-content label {
    font-size: 15px;
}
.checkout-payment-content label img{
    width: 80%;
}
.checkout-payment-content .sous-label {
    position: relative;
    bottom: 15px;
}

.checkout-payment-content .text-error{
    font-size: 13px;
}
.checkout-payment-content .shipping-detail {
    font-family: 'Shippori Mincho', serif;
    
}
.checkout-payment-content .total-description {
    font-size: 17px;
}
.checkout-payment-content .total-description > div > div{
    margin-bottom: 10px;
}
.checkout-payment-content  .btn {
    color: white;
    font-weight: 500;
    background-color: rgb(253, 158, 34);
    box-shadow: 0 0 5px black;
}
.checkout-payment-content form .btn:hover {
   background-color: rgb(247, 140, 0);
 
}
.success .icon {
    font-size: 100px;
}