
.menu-drawer{
    width: 290px;
}
.menu-drawer .search{
    border: 15px solid #ebebeb;
    color: black;
    font-family: "Open Sans",sans-serif;
    font-weight: 100;
    padding: 3px;
  
}
.menu-drawer .search .icon {
    position: relative;
    bottom: 5px;
}
.menu-drawer .main-close{
    border-bottom: solid 4px #ebebeb;
}
.menu-drawer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu-drawer li {
    display: block;
}
.menu-drawer li a {
    display: inline;
    font-size: 12px;
    line-height: 1.6;
    color: #585858;
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
.menu-drawer .option {
    margin-bottom: 5px;
    
}

.menu-drawer .option ul li {
padding-bottom: 10px;
padding-top: 10px;
padding-left: 10px;
border-bottom: 1px solid #ebebeb;
}
.menu-drawer .title {
    border-bottom: 3px solid rgb(31, 31, 31);
    color: rgb(209, 137, 43);
    font-size: 17px;
    padding-left: 5px;
    font-family: 'Shippori Mincho', serif;
   
}
.menu-drawer .icon {
    font-size: 15px;
}